.env

uploads/program_materi/*
uploads/program_images/*
uploads/majors_images/banner/*
uploads/majors_images/logo/*
uploads/campus_images/banner/*
uploads/campus_images/logo/*
output/*

!output/.gitkeep
!uploads/program_materi/.gitkeep
!uploads/majors_images/banner/.gitkeep
!uploads/majors_images/logo/.gitkeep
!uploads/program_images/.gitkeep
!uploads/campus_images/banner/.gitkeep
!uploads/campus_images/logo/.gitkeep


# Perbaiki nama folder virtual environment
venv_pddikti/ 

# Tambahan yang direkomendasikan untuk proyek Node.js/Express:
node_modules/

package-lock.json

.well-known/
.htaccess